

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$body-bg: #f5f8fa;

$nav-column-left-color: #242d37; 
$nav-ul-li-border-bottom-color: #2b3642;
$nav-ul-li-a-border-bottom-color: #585858;
$nav-ul-li-a-color: #b3cbdd;
$nav-ul-li-active-bg-color: #4CAF50;



$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$pink: #FFCBDB;
$brown: #964B00;
$orange: #FF7F00;
$yellow: #FFFF00;
$green: #00FF00;
$cyan: #00FFFF;
$blue: #0000FF;
$violet: #7F00FF;
$black: #000000;

$light-gray: #e3e3e3;
$light-gray-9: #e9e9e9;

$dark-white-f2: #f2f2f2;

$ddd: #ddd;


$duke-blue: #001A57;
$blue-gray: #6699cc;
$main-green: #00647D;
$alice-blue: #f0f8ff;
$ash-gray: #b2beb5;

$default-text-color: $black !default;
